<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
  <meta name="viewport" content="initial-scale=1, viewport-fit=cover">
  <script type="text/javascript" src="/static/vendors/jquery.min.js"></script>
  <!-- For media device support -->
  <!-- <script type="text/javascript" src="/static/vendors/adapter.min.js"></script> -->
  <!-- For barcode recognition -->
  <!-- <script type="text/javascript" src="/static/vendors/quagga.min.js"></script> -->
  <link rel="stylesheet" href="/static/vendors/fontawesome/css/all.css">
  <link rel="stylesheet" href="/static/styles/volunteer.css">
  <title>管理员 | 为爱畅游</title>
</head>
<body>
  <div id="page-container">
    <form id="add-swimmer" style="display: none;">
      <p id="add-swimmer-back"><i class="fas fa-caret-left"></i> 返回</p>
      <strong class="msg">输入游泳者 3 位编号：</strong>
      <table id='input-digits-container'>
        <tr>
          <td><input id="1" class="input-digit" type="number" pattern="[0-9]*" maxlength="1" oninput="inputNext(2)"></td>
          <td><input id="2" class="input-digit" type="number" pattern="[0-9]*" maxlength="1" oninput="inputNext(3)"></td>
          <td><input id="3" class="input-digit" type="number" pattern="[0-9]*" maxlength="1" oninput="inputNext('add-swimmer-name')"></td>
        </tr>
      </table>
      <!-- <br />
      或扫描条形码：<div id="barcode-scanner" style="display: none;"></div> -->
      <strong class="msg">输入游泳者姓名：</strong>
      <input id="add-swimmer-name" class="input input-text" type="text" placeholder="例：张明 Ming Zhang" autocomplete="off" required>
      <input type="submit" class="input submit" value="登记">
    </form>

    <form id="update-swimmer" style="display: none;">
      <p id="update-swimmer-back"><i class="fas fa-caret-left"></i> 返回</p>
      <strong class="msg">输入游泳者姓名：</strong>
      <input id="update-swimmer-name" class="input input-text" type="text" placeholder="例：张明 Ming Zhang" autocomplete="off" required>
      <input id="update-swimmer-id" type="hidden" value="">
      <input type="submit" class="input submit" value="更改姓名">
    </form>

    <form id="add-volunteer" style="display: none;">
      <p id="add-volunteer-back"><i class="fas fa-caret-left"></i> 返回</p>
      <strong class="msg">输入志愿者信息：</strong>
      <input id="add-volunteer-username" class="input input-text" type="text" placeholder="用户名" autocomplete="off" required>
      <input id="add-volunteer-password" class="input input-text" type="password" placeholder="密码" required>
      <div class="input input-check">
        <input id="add-volunteer-is-admin" type="checkbox" name="is-admin">
        <label for="add-volunteer-is-admin">管理者权限</label>
      </div>
      <input type="submit" class="input submit" value="添加志愿者">
    </form>

    <div id="swimmers">
      <div id="header">
        <a href="/"><img id="logo" src="/static/images/event-logo.svg"></a>
        <a href="/logout">登出 <i class="fas fa-sign-out-alt"></i></a>
      </div>

      <input id="swimmers-search-input" class="input input-text" type="text" style="display: none;" placeholder="游泳者 ID 或姓名" autocomplete="off">
      <h1 id="swimmers-heading">
        管理游泳者
        <i id="swimmers-refresh" class="fas fa-sync-alt"></i>
        <i id="swimmers-search" class="fas fa-search"></i>
      </h1>
      <hr />
      <div id="swimmers-list"></div>
      <div id="show-add-swimmer" class="dashed-border-button">
        <i class="fas fa-plus-square"></i> 登记新游泳者
      </div>

      <h1>管理志愿者</h1>
      <hr />
      <div id="volunteers-list"></div>
      <div id="show-add-volunteer" class="dashed-border-button">
        <i class="fas fa-user-plus"></i> 添加志愿者
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var admin = true;
  </script>
  <script type="text/javascript" src="/static/scripts/volunteer.js"></script>
</body>
</html>
