@font-face {
    font-family: 'DINPro';
    font-weight: 200;
    src: url('/static/fonts/DINPro-Light.otf') format('opentype');
}

@font-face {
    font-family: 'DINPro';
    font-weight: bold;
    src: url('/static/fonts/DINPro-Bold.otf') format('opentype');
}

* {
    margin: 0;
    font-family: 'DINPro', sans-serif;
    color: white;
}

.container-main {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(-20deg, #625EB1 0%, #1D8FE1 48%, #22E1FF 100%); */
}

.container-header {
    margin: 40px;
    font-size: 22px;
}

.container-header .sep {
    width: 290px;
    margin: 10px 0;
    border-bottom: 1px solid white;
}

.container-stat {
    position: relative;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.stat {
    display: inline-block;
    margin-bottom: 30px;
}

.stat.avatar {
    margin-bottom: 20px;
}

.stat.name span {
    font-weight: bold;
}

.stat.laps, .stat.meters {
    margin: 0 50px;
}

#avatar {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 20px 100px 0px rgba(0, 0, 50, 0.3);
}

.big {
    font-size: 84px;
    font-weight: 200;
}

.small {
    display: block;
    margin-bottom: -6px;
    font-size: 40px;
    font-weight: bold;
}

#meters::after {
    content: 'm';
    margin-left: 10px;
}

#canvas {
    position: absolute;
    margin: 0;
    width: 100%;
    z-index: 10;
    overflow: hidden;
}

@media only screen and (max-width: 1000px) {
    .container-stat {
        width: 90%;
    }

    #avatar {
        width: 650px;
        height: 650px;
        }

    .container-header {
        margin: 40px;
        font-size: 32px;

    }

    .container-header .sep {
        width: 420px;
    }

    .big {
        font-size: 110px;
    }

    .small {
        margin-bottom: -6px;
        font-size: 60px;
    }

    .stat.avatar {
        margin-bottom: 45px;
    }
}
