* {
    margin: 0;
    color: white;
    font-family: system-ui, sans-serif;
    font-size: 18px;
}

html {
    background: #005f90;
    margin: 40px 20px;
    /* margin-top: env(safe-area-inset-top);
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
    margin-bottom: env(safe-area-inset-bottom); */
}

.fas {
    font-size: inherit;
    color: inherit;
}

h1 {
    margin: 15px 0 10px;
    font-size: 30px;
}

hr {
    margin-bottom: 20px;
    border: 1px solid white;
}

#logo {
    display: block;
    width: 60%;
}

#show-add-swimmer {
    margin-left: 10px;
}

.swimmer-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.swimmer-avatar {
    margin-right: 15px;
    width: 68px;
    height: 68px;
    object-fit: cover;
    /* align-self: flex-start; */
}

.swimmer-name {
    font-size: 20px;
    font-weight: 600;
}

.swimmer-id {
    font-family: monospace;
    font-size: 14px;
    color: #60AfF0;
}

.swimmer-lap-count {
    font-size: 16px;
}

.swimmerButtonsItem {
    float: right;
    right: 0;
}

.swimmer-button {
    float: right;
    font-size: 24px;
    margin-left: 16px;
}

.swimmer-button:nth-child(3) {
    margin: 0;
}

.swimmer-button:nth-child(1) {
    /* color: #e74c3c; */
}

#add-swimmer-back {
    padding: 0;
}

#add-swimmer-msg {
    display: block;
    margin: 10vh 0 20px;
}

#input-digits-container {
    margin: 0 auto;
}

.input-digit {
    margin: 0 5px;
    padding: 0;
    width: 48px;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 0;
    font-size: 48px;
    text-align: center;
}

.input-digit:focus {
    outline: none !important;
}