html {
    background: #005f90;
    margin: 30px;
    color: white;
    font-family: system-ui, sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
}

a, input {
    color: white;
}

p {
    margin: 0;
}

.submit, .list-item-button, .dashed-border-button,
#link-swimmer-back, #add-swimmer-back, #add-volunteer-back,
#swimmers-refresh, #swimmers-search {
    cursor: pointer;
}

h1 {
    margin: 40px 0 10px;
    font-size: 30px;
}

h1 .fas {
    margin-left: 10px;
}

hr {
    margin-bottom: 20px;
    border: 1px solid white;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    white-space: nowrap;
}

#header a {
    font-size: 20px;
}

#logo {
    display: block;
    width: 90%;
    max-width: 400px;
}

.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.list-item-name {
    font-size: 20px;
    font-weight: 600;
}

.list-item-id {
    font-family: monospace;
    font-size: 14px;
    color: #60AfF0;
}

.list-item-lap-count {
    font-size: 16px;
}

.list-item-button {
    font-size: 24px;
    margin-left: 16px;
}

.list-item-button:first-child {
    margin: 0;
}

.list-item-button:last-child {
    /* color: #e74c3c; */
}

#link-swimmer-back, #add-swimmer-back {
    padding: 0;
    font-size: 20px;
}

.msg {
    display: block;
    margin: 10vh 0 20px;
}

#input-digits-container {
    margin: 0 auto 30px auto;
}

.input-digit {
    margin: 0 5px;
    padding: 0;
    width: 48px;
    background: none;
    border: none;
    border-bottom: 2px solid #fffa;
    border-radius: 0;
    font-size: 48px;
    text-align: center;
    -moz-appearance: textfield;
}

.input-digit::-webkit-inner-spin-button,
.input-digit::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.flashes {
    margin-bottom: 20px;
    text-align: center;
}

.login-form {
    margin-top: 5vh;
}

.input {
    display: block;
    width: 240px;
    margin: 15px auto;
    padding: 5px;
    background: none;
    font-size: 24px;
    border: none;
}

.input-digit:focus, .input:focus {
    outline: none !important;
    border-color: #fffd;
}

.input-text {
    border-bottom: 2px solid #fffa;
    border-radius: 0;
}

.input-text::placeholder {
    color: #fff8;
}

#swimmers-search-input {
    margin: 40px 0 10px;
    border: none;
    width: 100%;
    padding: 7px 0 0 0;
}

.input-check {
    font-size: 18px;
}

.input-check input[type=checkbox], .input-check input[type=radio] {
    width: 1.25em;
    height: 1.25em;
    vertical-align: middle;
}

.input-check label {
    vertical-align: middle;
}

.submit {
    text-align: center;
    margin-top: 30px;
    border: 2px solid #fffa;
    border-radius: 10px;
}

.dashed-border-button {
    border-radius: 10px;
    border: 2px dashed #fffa;
    padding: 10px;
}
