* {
    margin: 0;
    color: white;
    font-family: system-ui, sans-serif;
    font-size: 18px;
}

html {
    background: #005f90;
    margin: 30px;
    /* margin-top: env(safe-area-inset-top);
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);
    margin-bottom: env(safe-area-inset-bottom); */
}

.submit, .swimmer-button, #show-link-swimmer, #show-add-swimmer, #admin-refresh {
    cursor: pointer;
}

.fas {
    font-size: inherit;
    color: inherit;
}

h1 {
    margin: 15px 0 10px;
    font-size: 30px;
}

hr {
    margin-bottom: 20px;
    border: 1px solid white;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

#logo {
    display: block;
    width: 60%;
    max-width: 400px;
}

#logout-button {
    text-decoration: none;
    font-size: 24px;
}

.swimmer-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.swimmer-name {
    font-size: 20px;
    font-weight: 600;
}

.swimmer-id {
    font-family: monospace;
    font-size: 14px;
    color: #60AfF0;
}

.swimmer-lap-count {
    font-size: 16px;
}

.swimmerButtonsItem {
    float: right;
    right: 0;
}

.swimmer-button {
    float: right;
    font-size: 24px;
    margin-left: 16px;
}

.swimmer-button:last-child {
    margin: 0;
}

.swimmer-button:nth-child(1) {
    /* color: #e74c3c; */
}

#link-swimmer-back, #add-swimmer-back {
    padding: 0;
}

.msg {
    display: block;
    margin: 10vh 0 20px;
}

#input-digits-container {
    margin: 0 auto 30px auto;
}

.input-digit {
    margin: 0 5px;
    padding: 0;
    width: 48px;
    background: none;
    border: none;
    border-bottom: 2px solid #fffa;
    border-radius: 0;
    font-size: 48px;
    text-align: center;
    -moz-appearance: textfield;
}

.input-digit::-webkit-inner-spin-button,
.input-digit::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.flashes {
    margin-bottom: 20px;
    text-align: center;
}

.login-form {
    margin-top: 5vh;
}

.input {
    display: block;
    width: 240px;
    margin: 15px auto;
    padding: 5px;
    background: none;
    font-size: 24px;
    border: none;
}

.input-digit:focus, .input:focus {
    outline: none !important;
    border-color: #fffd;
}

.input-text {
    border-bottom: 2px solid #fffa;
    border-radius: 0;
}

.input-text::placeholder {
    color: #fff8;
}

.input-check {
    font-size: 18px;
}

.input-check input[type=checkbox], .input-check input[type=radio] {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.submit {
    text-align: center;
    margin-top: 30px;
    border: 2px solid #fffa;
    border-radius: 5px;
}

#show-add-swimmer {
    border-radius: 10px;
    border: 2px dashed #fffa;
    padding: 10px;
}
