<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel='icon' href='assets/favicon.ico' type='image/x-icon' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script type="text/javascript" src="/static/vendors/jquery-3.4.1.min.js"></script>
  <!-- For media device support -->
  <script type="text/javascript" src="/static/vendors/adapter.min.js"></script>
  <!-- For barcode recognition -->
  <script type="text/javascript" src="/static/vendors/quagga.min.js"></script>
  <!-- For storing list of swimmers into cookies -->
  <script type="text/javascript" src="/static/vendors/js.cookie.min.js"></script>
  <link rel='stylesheet' href='/static/styles/volunteer.css'>
  <title>志愿者 | Swim For Love</title>
</head>
<body>
  <div id="add-swimmer" style="display: none;">
    <button id="add-swimmer-back">返回</button>
    <br />
    输入游泳者3位编号：<input id="add-swimmer-input" type="text" placeholder="例：123" />
    <br />
    或扫描条形码：<div id="barcode-scanner" style="display: none;"></div>
  </div>
  <div id="swimmers">
    <button id="show-add-swimmer">添加游泳者</button>
    <ul id="swimmers-list"></ul>
  </div>
</body>
<script type='text/javascript' src='/static/scripts/volunteer.js'></script>
</html>
