<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
  <meta name="viewport" content="initial-scale=1, viewport-fit=cover">
  <script type="text/javascript" src="/static/vendors/jquery.min.js"></script>
  <!-- For media device support -->
  <!-- <script type="text/javascript" src="/static/vendors/adapter.min.js"></script> -->
  <!-- For barcode recognition -->
  <!-- <script type="text/javascript" src="/static/vendors/quagga.min.js"></script> -->
  <!-- For storing list of swimmers into cookies -->
  <link rel="stylesheet" href="/static/vendors/fontawesome/css/all.css">
  <link rel="stylesheet" href="/static/styles/volunteer.css">
  <title>志愿者 | 为爱畅游</title>
</head>
<body>
  <div id="page-container">
    <div id="link-swimmer" style="display: none;">
      <p id="link-swimmer-back"><span class="fas fa-caret-left"></span>&nbsp;返回</p>
      <strong class="msg">输入游泳者 3 位编号：</strong>
      <table id='input-digits-container'>
        <tr>
          <td><input id="1" class="input-digit" type="number" pattern="[0-9]*" maxlength="1" oninput="inputNext(2)"></td>
          <td><input id="2" class="input-digit" type="number" pattern="[0-9]*" maxlength="1" oninput="inputNext(3)"></td>
          <td><input id="3" class="input-digit" type="number" pattern="[0-9]*" maxlength="1" oninput="submitLinkSwimmer()"></td>
        </tr>
      </table>
      <!-- <br />
      或扫描条形码：<div id="barcode-scanner" style="display: none;"></div> -->
    </div>
    <div id="swimmers">
      <div id="header">
        <img id="logo" src="/static/images/event-logo.svg">
        <a id="logout-button" href="/logout">登出 <i class="fas fa-sign-out-alt"></i></a>
      </div>
      <h1>游泳者 <span id="show-link-swimmer" class='fas fa-plus-square'></span></h1>
      <hr />
      <div id="swimmers-list"></div>
    </div>
  </div>
</body>
<script type="text/javascript">
  var admin = false;
</script>
<script type="text/javascript" src="/static/scripts/volunteer.js"></script>
</html>
